<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/blogs/all">Blog</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ blogs[blog_handle].title }}</li>
    </ol>
</nav>
<div class="blog_post_bl blog_guide_main">
    <div class="section_header text-start mw-100 ms-0 ps-0">
        <h2 class="title-lg">Choose your favorite topic</h2>
    </div>
    <div class="blog_guide_wrap">
        {% for link in linklists.blog-menu.links offset:1 %}
            <a href="{{ link.url }}" class="blog_guide">
                {% case forloop.index %}
                    {% when 1 %}
                        <img src="{{ 'blog_guide_led.webp' | asset_url }}" alt="{{ link.title | escape }}" class="img-fluid">
                    {% when 2 %}
                        <img src="{{ 'blog_guide_skin.webp' | asset_url }}" alt="{{ link.title | escape }}" class="img-fluid">
                    {% when 3 %}
                        <img src="{{ 'blog_guide_skincare.webp' | asset_url }}" alt="{{ link.title | escape }}" class="img-fluid">
                {% endcase %}
                <div class="blog_guide_info">
                    <h2>{{ link.title }}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="blog_post_bl" id="blogs_led">
    <div class="section_header text-start mw-100 ms-0 ps-0">
        <h2 class="title-lg">{{ blogs[blog_handle].title }}</h2>
    </div>
        {%- paginate blogs[blog_handle].articles by limit -%}
            <div class="blogs_main">
                {% for article in blogs[blog_handle].articles %}
                    <div class="blog_wrap">
                        <div class="blog_img">
                            {% if article.image != blank %}
                                <a href="{{ article.url }}" aria-label="{{ article.title | truncatewords: 8 | escape }}">
                                    <picture>
                                        <source media="(min-width:1920px)" srcset="{{ article.image | img_url: 'master' }}" width="253" height="109">
                                        <source media="(min-width:1600px)" srcset="{{ article.image | img_url: '1600x' }}" width="253" height="109">
                                        <source media="(min-width:1100px)" srcset="{{ article.image | img_url: '1100x' }}" width="253" height="109">
                                        <source media="(min-width:720px)" srcset="{{ article.image | img_url: '720x' }}" width="253" height="109">
                                        <source media="(min-width:540px)" srcset="{{ article.image | img_url: '540x' }}" width="332" height="192">
                                        <img src="{{ article.image | img_url: '720x' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid" width="332" height="192">
                                    </picture>
                                </a>
                            {% endif %}
                        </div>
                        <div class="blog_content">
                            <div class="blog_info-main">
                                <h6 class="blog_info">#{{ blogs[blog_handle].title }}</h6>
                                <span class="blog_date">{{ article.published_at | date: '%B %d, %Y' }}</span>
                            </div>
                            <h5 class="blog_title">{{ article.title | truncatewords: 8 }}</h5>
                        </div>
                        <div class="blog_btn_wrapper">
                            <a class="btn btn-primary blog_btn" href="{{ article.url }}" aria-label="{{ article.title | truncatewords: 8 | escape }}">Read More</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

			{%- if paginate.pages > 1 -%}
				{% render 'blog-pagination', paginate: paginate %}
			{%- endif -%}
    {%- endpaginate -%}
</div>