{% if section.blocks != blank %}
    {% if __parent_title != blank %}
        {% assign __parent_counter = 0 %}

        {% unless __separator %}
            {% assign __separator = '###' %}
        {% endunless %}
    
        {% for block in section.blocks %}
            {% if block.type == __parent_title %}
                {% assign __parent_counter = __parent_counter | plus: 1 %}    
            {% else %}
                {% comment %} draw blocks {% endcomment %}
                {% capture __content %}
                    {% case block.type %}
                        {% when 'description' %}
                            <div class="as_desc_header">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | img_url: '150x' }}" alt="{{ block.settings.heading | escape }}" class="img-fluid me-2">
                                {% endif %}
                                {% if block.settings.heading != blank %}
                                    {{ block.settings.heading }}
                                {% endif %}
                            </div>
                            {% if block.settings.content != blank %}
                                {{ block.settings.content }}
                            {% endif %}
                            {% if block.settings.wistia_id != blank %}
                                <div class="micro_video mt-4">
                                    <div class="micro_vide_main">
                                        <div class="actVideo_block mx-auto">
                                            <div class="ctmVideo__block">
                                                <div class="player">
                                                    <script src="https://fast.wistia.com/embed/medias/{{ block.settings.wistia_id }}.jsonp" async></script>
                                                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                                                    <div class="wistia_responsive_padding"
                                                        style="padding:177.78% 0 0 0;position:relative;">
                                                        <div class="wistia_responsive_wrapper"
                                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                            <div class="wistia_embed wistia_async_2h4lstuygp seo=false videoFoam=true"
                                                                style="height:100%;position:relative;width:100%">
                                                                <div class="wistia_swatch"
                                                                    style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                                    <img src="https://fast.wistia.com/embed/medias/{{ block.settings.wistia_id }}/swatch"
                                                                        style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                        alt="" aria-hidden="true"
                                                                        onload="this.parentNode.style.opacity=1;" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% when 'collapsed' %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="as_dropdown{{ block.id }}">
                                    <button class="accordion-button{% if block.settings.show == false %} collapsed{% endif %}" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#ascollapse{{ block.id }}"
                                        aria-expanded="false" aria-controls="ascollapse{{ block.id }}">
                                        <div class="container">
                                            {{ block.settings.heading }}
                                        </div>
                                    </button>
                                </h2>
                                <div id="ascollapse{{ block.id }}" class="accordion-collapse collapse{% if block.settings.show == true %} show{% endif %}"
                                    aria-labelledby="asheading{{ block.id }}" data-bs-parent="#as_dropdown{{ block.id }}">
                                    <div class="accordion-body">
                                        {{ block.settings.content }}
                                    </div>
                                </div>
                            </div>
                        {% when 'video' %}
                            <div class="banner_img position-relative">
                                <img src="{{ block.settings.image | img_url: '400x' }}" alt="" class="img-fluid tab_img">
                                <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                    <div class="wistia_responsive_padding"
                                        style="position:relative;">
                                        <div class="wistia_responsive_wrapper"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <span
                                                class="wistia_embed wistia_async_{{ block.settings.wistia_id }} popover=true videoFoam=true"
                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                        </div>
                                        <span class="d-flex justify-content-end p-2">
                                            <img src="{{ 'trusted_play_eesm.svg' | asset_url }}" alt="" class="w-auto">
                                        </span>
                                    </div>
                                </a>
                            </div>
                        {% when 'heading' %}
                            {% if block.settings.heading != blank %}
                                {{ block.settings.heading }}
                            {% endif %}
                    {% endcase %}
                {% endcapture %}

                {% if __content %}
                    {% case __parent_counter %}
                        {% when 1 %}
                            {% assign __items1 = __items1 |  append: __content  |  append: __separator %}
                            {% assign __types1 = __types1 |  append: block.type |  append: __separator %}
                            {% if block.settings.classname != blank %}
                                {% assign __classname1 = __classname1 |  append: block.settings.classname |  append: __separator %}
                            {% else %}
                                {% assign __classname1 = __classname1 |  append: 'none' |  append: __separator %}
                            {% endif %}
                        {% when 2 %}
                            {% assign __items2 = __items2 |  append: __content  |  append: __separator %}
                            {% assign __types2 = __types2 |  append: block.type |  append: __separator %}
                            {% if block.settings.classname != blank %}
                                {% assign __classname2 = __classname2 |  append: block.settings.classname |  append: __separator %}
                            {% else %}
                                {% assign __classname2 = __classname2 |  append: 'none' |  append: __separator %}
                            {% endif %}
                        {% when 3 %}
                            {% assign __items3 = __items3 |  append: __content  |  append: __separator %}
                            {% assign __types3 = __types3 |  append: block.type |  append: __separator %}
                            {% if block.settings.classname != blank %}
                                {% assign __classname3 = __classname3 |  append: block.settings.classname |  append: __separator %}
                            {% else %}
                                {% assign __classname3 = __classname3 |  append: 'none' |  append: __separator %}
                            {% endif %}
                    {% endcase %}
                {% endif %}
            {% endif %}
        {% endfor %}
        
        {% assign __itemsArray1 = __items1 | split: __separator %}
        {% assign __typesArray1 = __types1 | split: __separator %}
        {% assign __classnamesArray1 = __classname1 | split: __separator %}

        {% assign __itemsArray2 = __items2 | split: __separator %}
        {% assign __typesArray2 = __types2 | split: __separator %}
        {% assign __classnamesArray2 = __classname2 | split: __separator %}

        {% assign __itemsArray3 = __items3 | split: __separator %}
        {% assign __typesArray3 = __types3 | split: __separator %}
        {% assign __classnamesArray3 = __classname3 | split: __separator %}

    {% endif %}
{% endif %}