{% comment %}
  Usage:  {% render 'pdm_cart-gamification', settingsGamification: section.settings, cartTotal: cart.items_subtotal_price %}
{% endcomment %}

{% liquid
  assign enableFreeShipping = settingsGamification.enable_free_shipping_treshold
  assign freeShippingTreshold = shop.metaobjects['sidecart_gamification_tresholds']['sidecart-gamification-tresholds-swspsm6c']['free_shipping'].value

  assign enableProductGift = settingsGamification.enable_product_gift 
  assign giftTresholdPdm = shop.metaobjects['sidecart_gamification_tresholds']['sidecart-gamification-tresholds-swspsm6c']['product_gift'].value

  assign differenceFreeShipping = freeShippingTreshold | minus: cartTotal
  assign differenceFreeGift = giftTresholdPdm | minus: cartTotal

  if enableProductGift
    assign treshold = giftTresholdPdm
  elsif enableFreeShipping
    assign treshold = freeShippingTreshold
  endif

  assign progress_percentage = cartTotal | times: 100 | divided_by: treshold
  assign progress_percentage_free_shipping = freeShippingTreshold | times: 100 | divided_by: treshold
  if enableFreeShipping and cartTotal < freeShippingTreshold
    if progress_percentage >= progress_percentage_free_shipping
      assign progress_percentage = 20
    endif
  else
    if treshold > cartTotal and progress_percentage > 80
      assign progress_percentage = 80
    endif
    if progress_percentage > 100
      assign progress_percentage = 100
    endif
  endif

  assign enableShowGiftPrice = settingsGamification.enable_show_gift_price 
  assign copyFreeShipping = settingsGamification.copy_get_free_shipping
  assign copyProductGift = settingsGamification.copy_get_product_free
  assign copyCongrats = settingsGamification.copy_congrats
  assign giftProduct = settingsGamification.product_free_gift

  assign remainingAmount = freeShippingTreshold | minus: cartTotal
  assign remainingAmountMoney = remainingAmount | money_without_trailing_zeros
%}

{% if enableFreeShipping or enableProductGift %}
  <div class="progress-container pdm-gamification">
    <div class="progress-container__message">
        {% if enableFreeShipping and differenceFreeShipping > 0 %}
          {% if differenceFreeShipping > 0 and cartTotal > 0 %}
            {% assign textToShow = "<i class='money' style='font-style: normal;'>" | append: remainingAmountMoney | append: "</i>" %}
            {{ copyFreeShipping | replace: "&price-left&", textToShow }}
          {% endif %}
        {% elsif enableProductGift %}
          {% assign remainingGiftAmount = giftTresholdPdm | minus: cartTotal %}
          {% assign remainingGiftAmountMoney = remainingGiftAmount | money_without_trailing_zeros %}
          {% if differenceFreeGift > 0 %}
            {% assign textToShow = "<i class='money' style='font-style: normal;'>" | append: remainingGiftAmountMoney | append: "</i>" %}
            {% assign textProductGift = copyProductGift |  replace: "&price-left&", textToShow %}
            {% if enableShowGiftPrice %}
              {% assign productGiftPrice = giftProduct.variants.first.price | money_without_trailing_zeros %}
              {% assign textProductPrice = "<strong>" | append: productGiftPrice  |  append: "</strong>" %}
              {% assign textProductGift = textProductGift |  replace: "&product-price&", textProductPrice %}
            {% else %}
              {% assign textProductGift = textProductGift |  replace: "&product-price&", "" %}
            {% endif %}
            {{ textProductGift }}
          {% else %}
            {% assign textProductTitle = giftProduct.title |  capitalize  %}
            {% assign textCongrats = "<strong>" | append:textProductTitle | append: "!</strong>" %}
            {{ copyCongrats |  replace: "&product-title&", textCongrats }}
          {% endif %}
        {% endif %}
    </div>

  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress" style="width: {{ progress_percentage }}%;"></div>
    </div>
    <div class="milestone first-milestone">
      <div class="milestone-icon {% if differenceFreeShipping <= 0 and cartTotal > 0 %} backgound-black {% endif %}">
        {% if differenceFreeShipping > 0 %}
          {% render 'pdm_svg-car-gamification-gray' %}
        {% endif %}
        {% if differenceFreeShipping <= 0 and cartTotal > 0 %}
          {% render 'pdm_svg-car-gamification-black' %}
        {% endif %}
      </div>
      <span class="milestone-label">{{ freeShippingTreshold  | money_without_trailing_zeros }}</span>
    </div>
    <div class="milestone second-milestone">
      <div class="milestone-icon {% if differenceFreeGift <= 0 %} backgound-black {% endif %}">
        {% if differenceFreeGift > 0 %}
          {{ settingsGamification.icon_product_gift_clean | image_url: width: settingsGamification.icon_gift_width, height: settingsGamification.icon_gift_height | image_tag }}
        {% endif %}
        {% if differenceFreeGift <= 0 %}
          {{ settingsGamification.icon_product_gift_full | image_url:  width: settingsGamification.icon_gift_width, height: settingsGamification.icon_gift_height | image_tag }}
        {% endif %}
      </div>
      <span class="milestone-label">{{ giftTresholdPdm |  money_without_trailing_zeros }}</span>
    </div>
  </div>

  </div>
{% endif %}