{% comment %}
  Usage:  {% render 'pdm_cart-gamification', settingsGamification: section.settings, cartTotal: cart.items_subtotal_price %}
{% endcomment %}
{% liquid
  assign enableFreeShipping = settingsGamification.enable_free_shipping_treshold 
  assign freeShippingTreshold = settingsGamification.product_free_shipping_threshold 
  assign freeShippingTresholdCents = settingsGamification.product_free_shipping_threshold |  times: 100 
  assign freeShippingTresholdMoney = settingsGamification.product_free_shipping_threshold |  times: 100 |  money_without_currency 

  assign enableProductGift = settingsGamification.enable_product_gift 
  assign giftTresholdPdm = settingsGamification.product_gift_threshold 
  assign giftTresholdPdmCents = settingsGamification.product_gift_threshold |  times: 100 
  assign giftTresholdPdmMoney = settingsGamification.product_gift_threshold |  times: 100 |  money_without_currency 

  assign differenceFreeShipping = freeShippingTresholdCents | minus: cartTotal
  assign differenceFreeGift = giftTresholdPdmCents | minus: cartTotal

  assign price_checkT = cartTotal | money_without_currency

  if enableProductGift
    assign treshold = giftTresholdPdmCents
  elsif enableFreeShipping
    assign treshold = freeShippingTresholdCents
  endif

  assign progress_percentage = cartTotal | times: 100 | divided_by: treshold
  if progress_percentage > 100
    assign progress_percentage = 100
  endif
%}

{% if enableFreeShipping or enableProductGift %}
  <div class="progress-container pdm-gamification">
    <div class="progress-container__message">
      <span>
        {% if enableFreeShipping and differenceFreeShipping > 0 %}
          {% if cart.item_count == 0  %}
            You’re <i class="money" style="font-style: normal;">{{ freeShippingTreshold | times: 100 | money_without_trailing_zeros }}</i> away from <strong>Free Shipping!</strong>
          {% elsif differenceFreeShipping > 0 and cartTotal > 0 %}
            Spend <i class="money" style="font-style: normal;">{{ freeShippingTresholdMoney | minus: price_checkT |  times: 100 |  money_without_trailing_zeros }}</i> more to get <strong>Free Shipping!</strong>
          {% endif %}
        {% elsif enableProductGift %}
          {% if cart.item_count == 0  %}
            You’re <i class="money" style="font-style: normal;">{{ giftTresholdPdm | times: 100 | money_without_trailing_zeros }}</i> away from <strong>Free Gift!</strong>
          {% elsif differenceFreeGift > 0 %}
            Spend <i class="money" style="font-style: normal;">{{ giftTresholdPdmMoney | minus: price_checkT | times: 100 |  money_without_trailing_zeros }}</i> more to get <strong>Free Gift!</strong>
          {% else %}
            <strong>Congrats! {% if enableFreeShipping %} Shipping is on us. {% endif %} Do you have a gift from us.</strong>
          {% endif %}
        {% endif %}
      </span>
    </div>

  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress" style="width: {{ progress_percentage }}%;"></div>
    </div>
    <div class="milestone first-milestone">
      <div class="milestone-icon {% if differenceFreeShipping <= 0 and cartTotal > 0 %} backgound-black {% endif %}">
        <svg class="free-gift" xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16" fill="none">
          <path d="M1.51923 0.778809C1.05649 0.778809 0.75 1.08593 0.75 1.54961V12.3409C0.75 12.8046 1.05649 13.1117 1.51923 13.1117H3.05769C3.21094 11.8019 4.36478 10.727 5.75 10.727C7.13522 10.727 8.28906 11.8019 8.44231 13.1117H11.5192C11.982 13.1117 12.2885 12.8046 12.2885 12.3409V1.54961C12.2885 1.08593 11.982 0.778809 11.5192 0.778809H1.51923ZM13.8269 3.86202C13.3642 3.86202 13.0577 4.16914 13.0577 4.63283V12.3409C13.0577 12.7263 13.3642 13.1117 13.8269 13.1117C13.9802 11.8019 15.134 10.727 16.5192 10.727C17.9044 10.727 19.0583 11.7236 19.2115 13.1117H19.9808C20.4435 13.1117 20.75 12.8046 20.75 12.3409V8.48685C20.75 7.79433 20.125 6.94524 20.125 6.94524L18.4423 4.63283C18.0577 4.16914 17.8263 3.86202 17.2885 3.86202H13.8269ZM15.3654 5.40363H17.2163C17.3696 5.40363 17.5288 5.54816 17.5288 5.54816L19.1394 7.78831C19.2927 8.02015 19.4519 8.26102 19.4519 8.41458H15.3654V5.40363ZM5.75 11.7146C4.77344 11.7146 3.97115 12.5185 3.97115 13.4971C3.97115 14.4756 4.77344 15.2796 5.75 15.2796C6.72656 15.2796 7.52885 14.4756 7.52885 13.4971C7.52885 12.5185 6.72656 11.7146 5.75 11.7146ZM16.5192 11.7146C15.5427 11.7146 14.7404 12.5185 14.7404 13.4971C14.7404 14.4756 15.5427 15.2796 16.5192 15.2796C17.4958 15.2796 18.2981 14.4756 18.2981 13.4971C18.2981 12.5185 17.4958 11.7146 16.5192 11.7146Z" fill="white"/>
        </svg>
      </div>
      <span class="milestone-label">{{ freeShippingTresholdCents  | money_without_trailing_zeros }}</span>
    </div>
    <div class="milestone second-milestone">
      <div class="milestone-icon {% if differenceFreeGift <= 0 %} backgound-black {% endif %}">
        <svg class="product-gift" xmlns="http://www.w3.org/2000/svg" width="9" height="26" viewBox="0 0 9 26" fill="none">
          <g clip-path="url(#clip0_21334_2830)">
            <path d="M8.25 25.1977C8.25 25.1977 7.33104 25.5001 4.25 25.5001C1.16896 25.5001 0.25 25.1977 0.25 25.1977V9H8.25V25.1987V25.1977Z" fill="white"/>
            <path d="M0.25 0.655855C0.25 0.655855 1.16896 0.5 4.25 0.5C7.33104 0.5 8.25 0.655855 8.25 0.655855V8H0.25V0.655855Z" fill="white"/>
            <path d="M4.09151 17.5054C3.76811 17.4812 3.46913 17.4085 3.17624 17.2873C2.81623 17.1298 2.49284 16.9178 2.21825 16.6512C1.94367 16.3847 1.72401 16.0696 1.55315 15.7062C1.39451 15.3487 1.30908 14.9549 1.30908 14.5369C1.30908 14.125 1.39451 13.7312 1.55926 13.3677C1.72401 13.0042 1.94367 12.6892 2.22435 12.4166C2.49893 12.144 2.82233 11.932 3.18234 11.7805C3.54235 11.629 3.92066 11.5503 4.31728 11.5503C4.7139 11.5503 5.09831 11.629 5.45832 11.7805C5.82442 11.938 6.14782 12.15 6.4224 12.4166C6.70309 12.6892 6.92275 13.0042 7.0875 13.3677C7.25225 13.7312 7.33767 14.1189 7.33767 14.5369C7.33767 14.9549 7.25225 15.3427 7.0875 15.7062C6.92275 16.0696 6.69699 16.3847 6.4224 16.6512C6.14172 16.9178 5.82442 17.1298 5.45832 17.2873C5.11662 17.4267 4.75661 17.5054 4.3844 17.5115C4.3905 17.5115 4.20134 17.5175 4.09151 17.5054ZM4.31728 17.3479C4.62847 17.3479 4.89695 17.2752 5.11662 17.1359C5.34238 16.9965 5.52544 16.7966 5.66578 16.5482C5.81223 16.2998 5.91595 16.003 5.98308 15.6577C6.05019 15.3184 6.0868 14.9428 6.0868 14.5309C6.0868 14.125 6.05019 13.7494 5.98308 13.4041C5.92206 13.0648 5.81832 12.7619 5.67188 12.5135C5.52544 12.2651 5.34238 12.0652 5.12272 11.9198C4.89695 11.7744 4.63457 11.7017 4.32338 11.7017C4.01219 11.7017 3.74371 11.7744 3.52404 11.9198C3.29827 12.0652 3.11522 12.2591 2.97488 12.5135C2.83454 12.768 2.7308 13.0648 2.65758 13.4101C2.59046 13.7554 2.55385 14.131 2.55385 14.5309C2.55385 14.9307 2.59046 15.3063 2.65758 15.6516C2.72471 15.9969 2.82844 16.2938 2.97488 16.5422C3.11522 16.7906 3.29827 16.9905 3.52404 17.1298C3.74371 17.2813 4.01219 17.3479 4.31728 17.3479Z" fill="#E2E2E2"/>
            <path d="M7.33767 18.1415C6.92885 18.1415 6.55053 18.1779 6.20883 18.2445C5.86713 18.3111 5.56815 18.4202 5.31186 18.5595C5.06169 18.7049 4.86033 18.8867 4.71999 19.1048C4.57965 19.3229 4.50643 19.5894 4.50643 19.8923H4.34167C4.34167 19.8499 4.34167 19.8257 4.34167 19.8257C4.35388 19.4561 4.4271 19.0987 4.56744 18.7595C4.72609 18.402 4.93965 18.0809 5.20814 17.8023C5.47662 17.5236 5.79391 17.3055 6.16002 17.1419C6.52613 16.9784 6.91664 16.8936 7.33767 16.8936V18.1415Z" fill="#E2E2E2"/>
          </g>
          <defs>
            <clipPath id="clip0_21334_2830">
              <rect width="8" height="25" fill="white" transform="translate(0.25 0.5)"/>
            </clipPath>
          </defs>
        </svg>
      </div>
      <span class="milestone-label">{{ giftTresholdPdmCents |  money_without_trailing_zeros }}</span>
    </div>
  </div>

  </div>

{% endif %}