{% comment %} 
  - usage: {% render 'pdm_sidcart-trustpilot', block: block,  %}
{% endcomment %}
<div class="slidecart-trustpilot-container {{ variant_test }} test-trustpilot-{{ test_trustpilot  }} ">
  {{ block.settings.text_area_first }}
  {% if block.settings.starts %}
    {{
      block.settings.starts
      | image_url: width: 300
      | image_tag: alt: 'stars-trustpilot', class: 'slidecart-trustpilot-img-stars'
    }}
  {% endif %}
  <p>{{ block.settings.second_text_content }}</p>
  {% if block.settings.logo %}
    {{
      block.settings.logo
      | image_url: width: 300
      | image_tag: alt: 'logo-trustpilot', class: 'slidecart-trustpilot-img-logo'
    }}
  {% endif %}
</div>