{% liquid
  assign enableFreeShipping = settingsGamification.enable_free_shipping_treshold 
  assign freeShippingTreshold = settingsGamification.product_free_shipping_threshold 
  assign freeShippingTresholdCents = settingsGamification.product_free_shipping_threshold |  times: 100 
  assign freeShippingTresholdMoney = settingsGamification.product_free_shipping_threshold |  times: 100 |  money_without_currency 

  assign enableProductGift = settingsGamification.enable_product_gift 
  assign giftTresholdPdm = settingsGamification.product_gift_threshold 
  assign giftTresholdPdmCents = settingsGamification.product_gift_threshold |  times: 100 
  assign giftTresholdPdmMoney = settingsGamification.product_gift_threshold |  times: 100 |  money_without_currency 

  assign differenceFreeShipping = freeShippingTresholdCents | minus: cartTotal
  assign differenceFreeGift = giftTresholdPdmCents | minus: cartTotal

  assign price_checkT = cartTotal | money_without_currency

  if enableProductGift
    assign treshold = giftTresholdPdmCents
  elsif enableFreeShipping
    assign treshold = freeShippingTresholdCents
  endif

  assign progress_percentage = cartTotal | times: 100 | divided_by: treshold
  if progress_percentage > 100
    assign progress_percentage = 100
  endif
%}

{% if enableFreeShipping or enableProductGift %}
  <div class="drawer__cart-discounts_wrap">
    <hr class="discount__line">
    <div class="drawer__cart-discounts">
      <div class="discount_flex">
        <style>
          .percent_off {
            text-align: right;
            padding: 20px 30px !important;
          }

          .percent_off span {
            border-radius: 100px;
            background: #333;
            padding: 6px 10px 6px 10px;
          }

          .percent_off img {
            width: 16px;
            height: 16px;
            margin: 0px 3px 0px 3px;
          }
        </style>

        <div class="progress_bar order-2 order-md-3">
          <div class=" skill-bar">
            <div class="line">
              <div class="each-line">
                <div class="drawer__cart-free-shipping" style="width:0px;"></div>
                <div class="progress" style="width: 100% !important; border-radius:100px;background-color:#c4c4C480;">
                  <div class="determinate" style="width:{{ progress_percentage }}%; border-radius:100px !important;"></div>
                </div>
                <div class="icon_bar" style="width:0px;">
                  <div class="percentage"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="percent_off order-3 order-md-2">
          <span>
            {% if enableFreeShipping and differenceFreeShipping > 0 %}
              {% if cart.item_count == 0  %}
                You’re <i class="money" style="font-style: normal;">{{ freeShippingTreshold | times: 100 | money_without_trailing_zeros }}</i> away from free shipping
              {% elsif differenceFreeShipping > 0 and cartTotal > 0 %}
                Spend <i class="money" style="font-style: normal;">{{ freeShippingTresholdMoney | minus: price_checkT |  times: 100 |  money_without_trailing_zeros }}</i> more to get Free Shipping.
              {% endif %}
            {% elsif enableProductGift %}
              {% if cart.item_count == 0  %}
                You’re <i class="money" style="font-style: normal;">{{ giftTresholdPdm | times: 100 | money_without_trailing_zeros }}</i> away from free gift
              {% elsif differenceFreeGift > 0 %}
                Spend <i class="money" style="font-style: normal;">{{ giftTresholdPdmMoney | minus: price_checkT | times: 100 |  money_without_trailing_zeros }}</i> more to get Free Gift.
              {% else %}
                Congrats! {% if enableFreeShipping %} Shipping is on us. {% endif %} Do you have a gift from us.
              {% endif %}
            {% endif %}
          </span>
        </p>

      </div>
    </div>
  </div>
{% endif %}