{% comment %} 

This Shopify snippet is used to display a single slide within an upsell product carousel. The following parameters are expected:

- image_slide: String. URL of the product image.
- title_copy: String. Title of the product.
- description_copy: String. Description of the product.
- product: Object. Contains details of the product, including pricing and variant information. Utilized for displaying prices and adding the product to the cart.

usage: {% render 'pdm_upsell_cards_slide', image_slide:image_slide, title_copy:title_copy, description_copy:description_copy, product_slide: product_neck_decolletage   %}

{% endcomment %}

<div class="swiper-slide upsell_main">
  <div class="upsell_image">
    <div class="upsell_product">
      <img src="{{ image_slide }}">
    </div>
    
    <div class="upsell_content upsell_content_mobile">
      <h4>{{ title_copy }}</h4>
      <p>{{ description_copy }}</p>
      <div class="upsell_content-price-wrapper">
        <span class="upsell_content-price-wrapper--full" data-product-id="{{ product_slide.id }}">{{ product_slide.compare_at_price | money_without_trailing_zeros  }}</span>
        <span class="upsell_content-price-wrapper--real" data-product-id="{{ product_slide.id }}">{{ product_slide.price | money_without_trailing_zeros }}</span>
      </div>
    </div>

    <div class="upsell_content upsell_content_desktop">
      <div class="upsell_content-text">
        <h4>{{ title_copy }}</h4>
        <p>{{ description_copy }}</p>
      </div>
      <div class="upsell_content-price-wrapper">
        <span class="upsell_content-price-wrapper--full" data-product-id="{{ product_slide.id }}">{{ product_slide.compare_at_price | money_without_trailing_zeros  }}</span>
        <span class="upsell_content-price-wrapper--real" data-product-id="{{ product_slide.id }}">{{ product_slide.price | money_without_trailing_zeros }}</span>
      </div>
    </div>

  </div>
  <div class="upsell_price upsell_price_desktop">
    <div class="upsell_amt">
      <span data-product-id="{{ product_slide.id }}">{{ product_slide.compare_at_price | money_without_trailing_zeros  }}</span>
      <i class="money" data-product-id="{{ product_slide.id }}">{{ product_slide.price | money_without_trailing_zeros  }}</i>
    </div>
    <a href="{{ routes.cart_add_url }}?id={{ product_slide.variants.first.id }}&quantity=1" onclick="setEventProductHandler('{{ product_slide.handle | escape }}')" data-ajax-cart-request-button>
      {{ 'sections.cart.upsell_add' | t }}
      <div class="upsell_amt">
        <span data-product-id="{{ product_slide.id }}">{{ product_slide.compare_at_price | money_without_trailing_zeros  }}</span>
        <i class="money" data-product-id="{{ product_slide.id }}">{{ product_slide.price | money_without_trailing_zeros  }}</i>
      </div>
    </a>
  </div>
</div>