<!-- mi-patches skincare_slider section start -->
<div class="patches_ingredients mw-949 section pt-md-0">
    <div class="container">
        {% if section.settings.heading != blank %}
            <div class="section_header text-md-center mw-546">
                <h2 class="title-lg paddingB">{{ section.settings.heading }}
                </h2>
            </div>     
        {% endif %}

        <div class="accordion skincare_right" id="accordionExample_pi">
            <div class="pi_grid">
                {%- for block in section.blocks limit:4 -%}
                    {% case block.type %}
                        {% when 'product' %}
                            <div class="serum_bl_wrap">
                                {% if block.settings.image != blank %}
                                    <div class="serum_bl_img">
                                        <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
                                    </div>
                                {% endif %}
                                <div class="serum_bl_info">
                                    {% if block.settings.heading != blank %}
                                        <h3>{{ block.settings.heading }}</h3>
                                    {% endif %}
                                    {{ block.settings.text }}
                                </div>
                            </div>
                        {% when 'option' %}
                            <div class="accordion-item pi-item">
                                <h2 class="accordion-header" id="heading_{{ forloop.index }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse_{{ forloop.index }}" aria-expanded="true" aria-controls="collapse_{{ forloop.index }}">
                                        <div class="pi_header">
                                            {% if block.settings.image != blank %}
                                                <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
                                            {% endif %}
                                            {% if block.settings.heading != blank %}
                                                <div class="pi_heading">{{ block.settings.heading }}</div>
                                            {% endif %}
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapse_{{ forloop.index }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ forloop.index }}"
                                    data-bs-parent="#accordionExample_pi">
                                    <div class="accordion-body">
                                        {{ block.settings.text }}
                                    </div>
                                </div>
                            </div>
                    {% endcase %}
                {% endfor %}
            </div>
            <div class="pi_grid">
                {%- for block in section.blocks offset:4 limit:4 -%}
                    {% case block.type %}
                        {% when 'product' %}
                            <div class="serum_bl_wrap">
                                {% if block.settings.image != blank %}
                                    <div class="serum_bl_img">
                                        <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
                                    </div>
                                {% endif %}
                                <div class="serum_bl_info">
                                    {% if block.settings.heading != blank %}
                                        <h3>{{ block.settings.heading }}</h3>
                                    {% endif %}
                                    {{ block.settings.text }}
                                </div>
                            </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>

        {%- for block in section.blocks -%}
            {% case block.type %}
                {% when 'button' %}
                    <div class="mw-546 mx-auto mt-4">
                        <a href="{{ block.settings.button_url }}" class="btn btn-lg btn-primary buy_btn" title="{{ block.settings.button_label | escape }}">{{ block.settings.button_label }}</a>
                    </div>
            {% endcase %}
        {% endfor %}
    </div>
</div>
<!-- mi-patches skincare_slider section end -->


{% schema %}
    {
        "name": "t:sections.accelerate-results.name",
        "class": "section-accelerate-results",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            }
        ],
        "blocks": [
            {
                "type": "product",
                "name": "t:common.product.label",
                "limit": 2,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.heading.label"
                    },
                    {
                        "type": "text",
                        "id": "text",
                        "label": "t:common.text.label"
                    }
                ]
		    },
            {
                "type": "option",
                "name": "t:common.option.name",
                "limit": 6,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.heading.label"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    }
                ]
		    },
            {
                "type": "button",
                "name": "t:common.button.name",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "button_label",
                        "default": "Button label",
                        "label": "t:common.button.label",
                        "info": "t:common.button.info"
                    },
                    {
                        "type": "url",
                        "id": "button_url",
                        "label": "t:common.button.url.label"
                    }
                ]
		    }
        ],
        "presets": [
			{
				"name": "t:sections.accelerate-results.name"
			}
        ]
    }
{% endschema %}