<!-- -- main banner start -- -->
<div class="refill_bl py-3 py-md-4 tabSlider">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="refill_info pt-0 pt-md-3">
                    <div class="refill_review justify-content-center justify-content-md-start">
                        <div class="star_gp">
                            <img src="{{ section.settings.stars | img_url: '130px' }}" alt="">
                        </div>
                        <p class="text-sm fw-normal">{{ section.settings.rating_text }}
                        </p>
                    </div>
                    <div class="section_header text-center text-md-start">
                        {%- if section.settings.heading != blank -%}
                        <h2 class="title-lg">{{ section.settings.heading }}</h2>
                        {%- endif -%}
                    </div>
                    <div class="d-none d-md-block">
                        {%- if section.settings.desc != blank -%}
                        <div class="ss_list mw-452 pt-4 pb-4">
                            {{ section.settings.desc }}
                        </div>
                        {%- endif -%}
                        <div class="get_clearer_wrapper text-center ms-0 mt-md-3">
                            {%- if section.settings.btn_txt -%}
                            <a class="btn btn-lg btn-primary btn_green" href="#shop">{{ section.settings.btn_txt }}</span>
                            </a>
                            {%- endif -%}
                            <p><span><img src="{{ section.settings.d_icon | image_url: width: 16 }}" alt=""></span>{{ section.settings.recomand }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  order-1 order-md-2">
                <div class="refill_slider mw-mob-100">
                    <div class="refill_s_tab_content">
                        <div class="tab-content" id="pills-tabContent">
                            {%- for block in section.blocks -%}
                            <div class="tab-pane fade {% if forloop.first %} active show {%endif %}" id="{{ block.id }}" role="tabpanel"
                                aria-labelledby="pills-{{ block.id }}">
                                <div class="swiper twa__swiper productSlider dot_pagination"
                                    id="twa__swiper-productSlider" data-section-id="productSlider"
                                    data-autoplay="false" data-loop="false" data-centerslide="false"
                                    data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                    data-arrowleft="productSlider-swiper-prev"
                                    data-arrowright="productSlider-swiper-next">
                                    <div class="swiper-wrapper">
                                         {%- if block.settings.image != blank -%}
                                        <div class="swiper-slide">
                                            <picture id="image-id">
                                                <source media="(min-width:1920px)"
                                                    srcset="{{ block.settings.image | img_url: 'master' }}"
                                                    class="img-fluid tab_img" >
                                                <source media="(min-width:1600px)"
                                                    srcset="{{ block.settings.image | img_url: 'master' }}"
                                                    class="img-fluid tab_img"  >
                                                <source media="(min-width:1100px)"
                                                    srcset="{{ block.settings.image | img_url: 'master' }}"
                                                    class="img-fluid tab_img"  >
                                                <source media="(min-width:720px)"
                                                    srcset="{{ block.settings.image | img_url: 'master' }}"
                                                    class="img-fluid tab_img"  >
                                                <source media="(min-width:540px)"
                                                    srcset="{{ block.settings.image | img_url: 'master' }}"
                                                    class="img-fluid tab_img" >
                                                <img src="{{ block.settings.image | img_url: 'master' }}" alt=""
                                                    class="img-fluid tab_img" width="100" height="100">
                                            </picture>
                                        </div>
                                        {%- endif -%}
                                        {%- if block.settings.image2 != blank -%}
                                        <div class="swiper-slide">
                                            <picture id="image-id">
                                                <source media="(min-width:1920px)"
                                                    srcset="{{ block.settings.image2 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:1600px)"
                                                    srcset="{{ block.settings.image2 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:1100px)"
                                                    srcset="{{ block.settings.image2 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:720px)"
                                                    srcset="{{ block.settings.image2 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:540px)"
                                                    srcset="{{ block.settings.image2 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <img src="{{ block.settings.image2 | img_url: 'master' }}" alt=""
                                                    class="img-fluid tab_img" width="100" height="100">
                                            </picture>
                                        </div>
                                        {%- endif -%}
                                        {%- if block.settings.image3 != blank -%}
                                        <div class="swiper-slide">
                                            <picture id="image-id">
                                                <source media="(min-width:1920px)"
                                                    srcset="{{ block.settings.image3 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:1600px)"
                                                    srcset="{{ block.settings.image3 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:1100px)"
                                                    srcset="{{ block.settings.image3 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:720px)"
                                                    srcset="{{ block.settings.image3 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <source media="(min-width:540px)"
                                                    srcset="{{ block.settings.image3 | img_url: 'master' }}"
                                                    class="img-fluid tab_img">
                                                <img src="{{ block.settings.image3 | img_url: 'master' }}" alt=""
                                                    class="img-fluid tab_img" width="100" height="100">
                                            </picture>
                                        </div>
                                        {%- endif -%}
                                        {%- if block.settings.wistia != blank -%}
                                            <div class="swiper-slide">
                                                <div class="wistia_responsive_padding" style="position:relative;">
                                                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <div class="wistia_embed wistia_async_{{ block.settings.wistia }} seo=false videoFoam=true" style="height:100%;position:relative;width:100%">
                                                            <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/pdqr8phbrl/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            {%- endfor -%}
                        </div>
                    </div>
                    <div class="refill_s_tab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            {%- for block in section.blocks -%}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if forloop.first %} active {%endif %}" id="pills-{{ block.id }}" data-bs-toggle="pill"
                                    data-bs-target="#{{ block.id }}" type="button" role="tab"
                                    aria-controls="{{ block.id }}" aria-selected="true">{{ block.settings.btn_text }}</button>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
                <div class="d-block d-md-none">
                    <div class="ss_list mw-452 pt-2 pb-4">
                        <ul>
                            <li>FDA-cleared at-home LED mask</li>
                            <li>Treat acne, fine lines, wrinkles & more</li>
                            <li>Customize, track & schedule treatments with app</li>
                            <li>Quick & convenient 3-minute wireless treatments</li>
                        </ul>
                    </div>
                    <div class="get_clearer_wrapper text-center ms-0 mt-2">
                        <a class="btn btn-lg btn-primary btn_green" href="#shop">Transform My Skin</span>
                        </a>
                        <p><span><img src="https://qureskincaredns.com/new/assets/derma-sm.svg" alt=""></span>Dermatologist-Reviewed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->

{% schema %}
{
    "name": "banner-tab-slider",
    "settings":[
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.heading.label"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "t:common.text.label"
        },
        {
            "type": "text",
            "id": "rating_text",
            "label": "t:product.badge.label"
        },
        {
            "type": "image_picker",
            "id": "stars",
            "label": "Stars"
        },
        {
            "type": "text",
            "id": "btn_txt",
            "label": "t:common.button.label"
        },
        {
          "type": "image_picker",
          "id": "d_icon",
          "label": "Recommended Icon"
        },
        {
          "type": "text",
          "id": "recomand",
          "label": "Recommended"
        }
    ],
    "blocks":[
        {
            "type": "Tab",
            "name": "Tab",
            "limit": 3,
            "settings": [
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "t:common.button.label"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image.label"
                },
                {
                    "type": "image_picker",
                    "id": "image2",
                    "label": "t:common.image.label"
                },
                {
                    "type": "image_picker",
                    "id": "image3",
                    "label": "t:common.image.label"
                },
                {
                    "type": "text",
                    "id": "wistia",
                    "label": "t:common.wistia.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Banner Tabs Slider"
        }
    ]
}
{% endschema %}