<!-- --  skincare slider start  -- -->
<div class="skincare_slider_n section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section_header">
                    {% if section.settings.heading != blank %}
                        <h2 class="title-lg">
                            {{ section.settings.heading }}
                        </h2>
                    {% endif %}

                    {{ section.settings.text }}

                    <div class="d-none d-md-block">
                        {%- for block in section.blocks -%}
                            {% case block.type %}
                                {% when 'option' %}
                                    {% assign dashoffset = 100 | minus: block.settings.percent_bar %}
                                    <div class="skincare_percent">
                                        <div class="progressCont">
                                            <span class="progressWrapper">
                                                <span class="progessInfo text-dark">{{ block.settings.percent_bar }}%</span>
                                                <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                                    <defs>
                                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                                    <circle visibility="visible" fill="none" pathLength="100"
                                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                                        style="stroke-dasharray: 100; stroke-dashoffset: {{ dashoffset }}; stroke-width: 4px;">
                                                    </circle>
                                                </svg>
                                            </span>
                                        </div>
                                        {{ block.settings.text }}
                                    </div>
                            {% endcase %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="swiper twa__swiper dot_pagination" id="twa__swiper-skinSliderN"
                    data-section-id="skinSliderN" data-autoplay="false" data-loop="false"
                    data-centerslide="false" data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="30"
                    data-arrowleft="skinSliderN-swiper-prev" data-arrowright="skinSliderN-swiper-next">
                    <div class="swiper-wrapper">
                        {%- for block in section.blocks -%}
                            {% case block.type %}
                                {% when 'image' %}
                                    <div class="swiper-slide">
                                        <div class="skin_item_n">
                                            {% if block.settings.image != blank %}
                                                <div class="skin_item_n_img">
                                                    <img src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt | escape }}" class="img-fluid">
                                                </div>
                                            {% endif %}

                                            <div class="skin_item_n_tag">
                                                {{ block.settings.text |  replace: '<strong>', '<span class="sn_tag">' |  replace: '</strong>', '</span>' }}
                                            </div>
                                        </div>
                                    </div>
                            {% endcase %}
                        {% endfor %}
                    </div>
                    <div class="pagination_navigation">
                        <div class="swiper-pagination"></div>
                        <div class="skinSliderN-swiper-prev swiper-button-prev swiper-button"></div>
                        <div class="skinSliderN-swiper-next swiper-button-next swiper-button"></div>
                    </div>
                </div>
                <div class="d-block d-md-none">
                    {%- for block in section.blocks -%}
                        {% case block.type %}
                            {% when 'option' %}
                                {% assign dashoffset = 100 | minus: block.settings.percent_bar %}
                                <div class="skincare_percent">
                                    <div class="progressCont">
                                        <span class="progressWrapper">
                                            <span class="progessInfo text-dark">{{ dashoffset }}%</span>
                                            <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                                <defs>
                                                    <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                    </linearGradient>
                                                </defs>
                                                <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                                    class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                                <circle visibility="visible" fill="none" pathLength="100"
                                                    transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                                    style="stroke-dasharray: 100; stroke-dashoffset: {{ dashoffset }}; stroke-width: 4px;">
                                                </circle>
                                            </svg>
                                        </span>
                                    </div>
                                    {{ block.settings.text }}
                                </div>
                        {% endcase %}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</div>
<!-- --  skincare slider end  -- -->


{% schema %}
    {
        "name": "t:sections.confidence-slider.name",
        "class": "section-confidence",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text.label"
            }
        ],
        "blocks": [
            {
                "type": "option",
                "name": "t:common.option.name",
                "limit": 3,
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    },
                    {
                        "type": "range",
                        "id": "percent_bar",
                        "min": 0,
                        "max": 100,
                        "default": 70,
                        "step": 1,
                        "label": "t:common.percentage.label"
                    }
                ]
		    },
            {
                "type": "image",
                "name": "t:common.image.label",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "text",
                        "id": "richtext",
                        "label": "t:common.text.label"
                    }
                ]
		    }
        ],
        "presets": [
			{
				"name": "t:sections.confidence-slider.name"           
			}
        ]
    }
{% endschema %}