<!-- -- press slider start -- -->
<!-- -- press slider app out start -- -->
<div id="{{ section.id }} " class="app_press section">
  <div class="container1">
    <div class="press_bl py-2 mw-mob-100">
      <div class="p_bl_header text-center p-0">
        <p>{{ section.settings.heading }}</p>
      </div>

      {% if section.settings.slider_type == 'five_slides' %}
        {% assign sliderCnt = 'app_press_sl_content_five' %}
        {% assign sliderImg = 'app_press_sl_img_five' %}
      {% else %}
        {% assign sliderCnt = 'app_press_sl_content_three' %}
        {% assign sliderImg = 'app_press_sl_img_three' %}
      {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="app_press_slider">
          <div
            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
            class="swiper app_press_sl_content {{ sliderCnt }}"
          >
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {% if block.type == 'text' %}
                  <div class="swiper-slide">
                    {{
                      block.settings.text
                      | replace: '<p>', '<div class="app_subhheading">'
                      | replace: '</p>', '</div>'
                      | replace: '\n', '<br />'
                    }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div thumbsSlider="" class="swiper app_press_sl_img22 {{ sliderImg }}">
            <div class="swiper-wrapper justify-content-between">
              {%- for block in section.blocks -%}
                {% if block.type == 'image' %}
                  <div class="swiper-slide">
                    <div class="app_press_info">
                      {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: '300x' }}" alt="">
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- -- press slider end -- -->

{% if section.settings.slider_type == 'five_slides' %}
  {% assign sliderCnt = 'app_press_sl_content_five' %}
  {% assign sliderImg = 'app_press_sl_img_five' %}
{% else %}
  {% assign sliderCnt = 'app_press_sl_content_three' %}
  {% assign sliderImg = 'app_press_sl_img_three' %}
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper_press1 = new Swiper('.app_press_sl_img_three', {
      spaceBetween: 20,
      initialSlide: 1,
      touchRatio: 0,
      loop: true,
      slidesPerView: 3,
      breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      },
    });
    var swiper_press12 = new Swiper('.app_press_sl_content_three', {
      spaceBetween: 10,
      slidesPerView: 1,
      initialSlide: 1,
      loop: true,
      thumbs: {
        swiper: swiper_press1,
      },
      touchRatio: 0,
    });

    var swiper_press = new Swiper('.app_press_sl_img_five', {
      spaceBetween: 20,
      slidesPerView: 2.9,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      loop: true,
      breakpoints: {
        640: {
          slidesPerView: 3.5,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 5,
          spaceBetween: 20,
          touchRatio: 0,
        },
      },
    });
    var swiper_press2 = new Swiper('.app_press_sl_content_five', {
      spaceBetween: 10,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      loop: true,
      thumbs: {
        swiper: swiper_press,
      },
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.feature_extend.label",
  "class": "section-featured-in-extended",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.heading.label",
      "default": "FEATURED IN"
    },
    {
      "type": "select",
      "id": "slider_type",
      "label": "t:sections.slider.type",
      "options": [
        {
          "value": "five_slides",
          "label": "t:common.text.count.five"
        },
        {
          "value": "one_slides",
          "label": "t:common.text.count.one"
        }
      ],
      "default": "five_slides"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:common.text.label",
      "limit": 6,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:common.image.label",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.feature_extend.label"
    }
  ]
}
{% endschema %}