<!-- -- target specific skin concerns start -- -->
<div class="skin_concern section">
    <div class="section_header mb-4 mw-100 text-start text-lg-center">
        {%- if section.settings.heading != blank -%}
        <h2 class="title-lg mx-auto paddingB">
            {{ section.settings.heading }}
        </h2>
        {%- endif -%}
        {%- if section.settings.sub_heading != blank -%}
        <h4>{{ section.settings.sub_heading }}</h4>
        {%- endif -%}
    </div>
    <div class="swiper twa__swiper targetSkin dot_pagination" id="twa__swiper-targetSkin"
        data-section-id="targetSkin" data-autoplay="false" data-loop="false" data-centerslide="false"
        data-mobile="1.2" data-tablet="4" data-desktop="4" data-spacing="20"
        data-arrowleft="targetSkin-swiper-prev" data-arrowright="targetSkin-swiper-next">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
            <div class="swiper-slide">
                <div class="target_skin">
                    <div class="target_skin_img">
                        {% if block.settings.c_image != blank %}
                        <img src="{{ block.settings.c_image | img_url: 'master' }}" alt="{{ block.settings.c_image.alt }}" class="img-fluid">
                        {% endif %}
                        <div class="target_skin_info">
                            {%- if section.settings.name != blank -%}
                            <h4>{{ block.settings.name }}</h4>
                            {%- endif -%}
                            {%- if section.settings.button != blank -%}
                            <a href="{{ block.settings.btn_url }}">{{ section.settings.button }}</a> 
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination_navigation d-md-none">
            <div class="swiper-pagination"></div>
            <div class="targetSkin-swiper-prev swiper-button-prev swiper-button"></div>
            <div class="targetSkin-swiper-next  swiper-button-next swiper-button"></div>

        </div>
    </div>
</div>
<!-- -- target specific skin concerns end -- -->

{% schema %}
{
    "name": "t:sections.f-collection.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:common.heading.label"
        },
        {
            "type": "richtext",
            "id": "sub_heading",
            "label": "t:common.subheading.label"
        },
        {
            "type": "text",
            "id": "button",
            "default": "Shop Now",
            "label": "t:common.button.label"
        }
    ],
    "blocks": [
        {
            "type": "column",
            "name": "Collection",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "c_image",
                    "label": "t:common.image.label"
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "t:common.heading.label"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.f-collection.name"
        }
    ]
}
{% endschema %}