<div class="container holiday-bundles-concern-container">
  <div class="holiday-bundles-concern-header">
    <h2 class="holiday-bundles-concern-header--title">{{ section.settings.title_section }}</h2>
    <div class="holiday-bundles-concern-header--image">
      {{ section.settings.image_section_review | image_url: width: 450 | image_tag: alt: 'image section reviews' }}
    </div>
  </div>
	<div class="holiday-bundles-concern-wrapper-card">
  {% for block in section.blocks %}
    <div
      class="holiday-bundles-concern-card"
      style="background-color: {{ block.settings.card_color_background_outside }};"
    >
      {% assign card_save_price = block.settings.card_product.compare_at_price
        | minus: block.settings.card_product.price
      %}

      <div class="holiday-bundles-concern-card--title">
        <h3>{{ block.settings.card_subheader }}</h3>
        <h2>{{ block.settings.card_header }}</h2>
      </div>
      <div class="holiday-bundles-concern-card-inside" style="background-color: {{ block.settings.card_color_background_inside }};">
        {% if block.settings.card_show_black_tab == true %}
          <div class="holiday-bundles-concern-card-inside-blacktab-mobile">
            {{ block.settings.card_black_tab_text }}
          </div>
          <div class="holiday-bundles-concern-card-inside-blacktab-desktop">
            {{ block.settings.card_black_tab_text }}
          </div>
        {% endif %}
        <div class="holiday-bundles-concern-card-inside--image">
          {{
            block.settings.card_product.featured_image
            | image_url: width: 350
            | image_tag: alt: block.settings.card_product.title
          }}
        </div>
        <h3>{{ block.settings.card_product.title }}</h3>
        <div class="holiday-bundles-concern-card-inside-price-container">
          <div class="holiday-bundles-concern-card-inside-price-wrapper">
            <p class="holiday-bundles-concern-card-inside-price-wrapper--full">{{ block.settings.card_product.compare_at_price | money_without_trailing_zeros }}</p>
            <p class="holiday-bundles-concern-card-inside-price-wrapper--discount">{{ block.settings.card_product.price | money_without_trailing_zeros }}</p>
          </div>
          <div class="holiday-bundles-concern-card-inside-price-save">
              {{ block.settings.card_price_save_text }}
              <p>{{ card_save_price | money_without_trailing_zeros }}</p>
          </div>
        </div>
        {% comment %} dropdown {% endcomment %}
        <button class="holiday-bundles-concern-card-inside-dropdown">
          {{ block.settings.card_dropdown_title }}
          {% if block.settings.card_dropdown_image != null %}
            {{ block.settings.card_dropdown_image | image_url: width: 18 | image_tag: alt: 'dropdown arrow', class: 'holiday-bundles-concern-card-inside-dropdown--image' }}
          {% endif %}
        </button>
        <div class="holiday-bundles-concern-card-inside-dropdown-container">
          {{ block.settings.card_dropdown_content }}
        </div>
        {% comment %} add to cart {% endcomment %}
        <div class="holiday-bundles-concern-card-inside-footer">
          <div class="holiday-bundles-concern-card-inside-footer-availability">
            <p class="holiday-bundles-concern-card-inside-footer-availability--number">
              {{ block.settings.card_percentage_stock_left }}
              {{ block.settings.card_percentage_stock_left_text_prefix }}
            </p>
            <p class="holiday-bundles-concern-card-inside-footer-availability--text">
              {{ block.settings.card_percentage_stock_left_text }}
            </p>
          </div>
          <a
            href="{{ routes.cart_add_url }}?id={{ block.settings.card_product.first_available_variant.id }}&quantity=1"
            data-ajax-cart-request-button
          >
            {{ block.settings.card_button_text }}
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
	</div>
  <div class="holiday-bundles-concern-footer">
    <a href="#{{ section.settings.section_footer_url }}">{{ section.settings.section_footer_anchor }}</a>
    <div class="holiday-bundles-concern-footer-payment">
      <p>{{ section.settings.section_footer_payment_text }}</p>
      {% if section.settings.section_footer_payment_image != null %}
        <div class="holiday-bundles-concern-footer-payment--image">
          {{ section.settings.section_footer_payment_image | image_url: width: 350 | image_tag: alt: 'payment icons' }}
        </div>
      {% endif %}
    </div>
    <div></div>
  </div>
</div>

{% schema %}
{
  "name": "holiday-bundles-concern",
  "class": "holiday-bundles-concern",
  "settings": [
    {
      "type": "text",
      "id": "title_section",
      "label": "title",
      "default": "We created these bundles just for your skin needs"
    },
    {
      "type": "image_picker",
      "id": "image_section_review",
      "label": "image section review"
    },
    {
      "type": "paragraph",
      "content": "footer section"
    },
    {
      "type": "text",
      "id": "section_footer_anchor",
      "label": "anchor text",
      "default": "Shop All Bundles"
    },
    {
      "type": "text",
      "id": "section_footer_url",
      "label": "section footer anchor id",
      "default": "bf-bundles"
    },
    {
      "type": "text",
      "id": "section_footer_payment_text",
      "label": "section footer payment text",
      "default": "Buy now, pay later in 4 monthly payments with"
    },
    {
      "type": "image_picker",
      "id": "section_footer_payment_image",
      "label": "section footer payment image icons"
    }
  ],
  "blocks": [
    {
      "name": "product card",
      "type": "product-card",
      "limit": 2,
      "settings": [
        {
          "type": "product",
          "id": "card_product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Product Card Settings"
        },
        {
          "type": "paragraph",
          "content": "Color background"
        },
        {
          "type": "color_background",
          "id": "card_color_background_outside",
          "label": "card color background outside",
          "default": "#C7E7DC"
        },
        {
          "type": "color_background",
          "id": "card_color_background_inside",
          "label": "card color background outside",
          "default": "#F5F5F5"
        },
        {
          "type": "text",
          "id": "card_subheader",
          "label": "Card subheader title"
        },
        {
          "type": "text",
          "id": "card_header",
          "label": "card title"
        },
        {
          "type": "checkbox",
          "id": "card_show_black_tab",
          "label": "show black tab",
          "default": false,
          "info": "show black tab on the top of the card"
        },
        {
          "type": "text",
          "id": "card_black_tab_text",
          "label": "card black tab text",
          "default": "Over 20,000 people chose these products"
        },
        {
          "type": "paragraph",
          "content": "dropdown content"
        },
        {
          "type": "text",
          "id": "card_dropdown_title",
          "label": "card dropdown title",
          "default": "What is included?"
        },
        {
          "type": "image_picker",
          "id": "card_dropdown_image",
          "label": "card dropdown image"
        },
        {
          "type": "richtext",
          "id": "card_dropdown_content",
          "label": "card dropdown content"
        },
        {
          "type": "text",
          "id": "card_price_save_text",
          "label": "card price save text",
          "default": "SAVE:"
        },
        {
          "type": "paragraph",
          "content": "add to cart button"
        },
        {
          "type": "range",
          "id": "card_percentage_stock_left",
          "label": "percentage stock left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 0
        },
        {
          "type": "text",
          "id": "card_percentage_stock_left_text_prefix",
          "label": "card percentage stock left text prefix",
          "default": "%"
        },
        {
          "type": "text",
          "id": "card_percentage_stock_left_text",
          "label": "card_percentage_stock_left_text",
          "default": "of stock left"
        },
        {
          "type": "text",
          "id": "card_button_text",
          "label": "card button text",
          "default": "Add To Cart"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Holiday Bundles Concern"
    }
  ]
}
{% endschema %}
