<!-- -- single step start -- -->
<div class="single_step section {{ section.settings.background }}">
  <div class="container">
    <div class="section_header d-block d-md-none text-center">
      {%- if section.settings.heading != blank -%}
        <h2 class="title-lg paddingB">{{ section.settings.heading }}</h2>
      {%- endif -%}
    </div>
    <div class="row gx-5 align-items-center">
      <div class="col-md-6">
        <div class="single-step_img">
          {%- if section.settings.image != blank -%}
          <img
            src="{{ section.settings.image | img_url: '400x' }}"
            alt="{{ section.settings.image.alt }}" class="w-100">
            {%- endif -%}
        </div>
      </div>
      <div class="col-md-6">
        <div class="single_step ps-md-3 mt-3 mt-md-0">
          <div class="section_header">
            {%- if section.settings.heading != blank -%}
              <h2 class="title-lg paddingB d-none d-md-block">{{ section.settings.heading }}</h2>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
              {{ section.settings.text }}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -- single step end -- -->

{% schema %}
{
  "name": "t:sections.img_txt.name",
  "settings": [
    {
      "type": "select",
      "id": "background",
      "label": "t:common.background.label",
      "options": [
        {
          "value": "bg-yellow",
          "label": "t:common.background.yellow"
        },
        {
          "value": "bg-lightGrey",
          "label": "t:common.background.grey"
        },
        {
          "value": "bg_clr_transparent",
          "label": "t:common.background.transparent"
        }
      ],
      "default": "bg_clr_transparent"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Why Light Therapy Is Proven To Work",
      "label": "t:common.heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Just as plants need sunlight, our skin craves the rejuvenating power of light. But in our modern world, relentless exposure to harsh artificial lights can leave our complexion dull and damaged.</p>",
      "label": "t:common.text.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.img_txt.name"
    }
  ]
}
{% endschema %}
