<!-- -- qure founder start -- -->
<div class="qure_founder">
  <div class="container-fluid">
    <div class="qure_founder_wrap {%  if section.settings.trust_des != blank %} d-none d-md-flex{% endif %}">
      <div class="qure_founder_img">
        {% if section.settings.image != blank -%}
          <img
            src="{{section.settings.image | img_url: 'master'}}"
            alt="{{ section.settings.image.alt | escape }}"
            class="img-fluid"
          >
        {%- endif %}
      </div>
      <div class="qure_founder_info {% if section.settings.trust_des %}trusted_bl trustedVerified {% endif %}">
        {% if section.settings.trust_des != blank %}
          <div class="trusted_verified">
            <img src="{{ 'verified_design.svg' | asset_url }}" alt="">
            <p>{{ section.settings.trust_des }}</p>
          </div>
        {% endif %}
        {% if section.settings.heading != blank %}
          <h3>{{ section.settings.heading }}</h3>
        {% endif %}
        <div class="founder_info mt-3 text-end">
          {% if section.settings.sub_heading != blank %}
            {{ section.settings.sub_heading }}
          {% endif %}
        </div>
      </div>
    </div>
    {% if section.settings.trust_des != blank %}
      <div class="qure_founder_info trusted_bl trustedVerified d-block d-md-none py-0">
        <div class="trusted_verified">
          <img src="{{ 'verified_design.svg' | asset_url }}" alt="">
          <p>{{ section.settings.trust_des }}</p>
        </div>
      </div>
      <div class="qure_founder-wrap-mobile d-block d-md-none">
        {% if section.settings.trusted_image_mob != blank -%}
          <img
            src="{{section.settings.trusted_image_mob | img_url: 'master'}}"
            alt="{{ section.settings.trusted_image_mob.alt | escape }}"
            class="img-fluid"
          >
        {%- endif %}
        <div class="qure_founder_info ">
          {% if section.settings.heading != blank %}
            <h5>
              {{ section.settings.heading }}
            </h5>
          {% endif %}
          {% if section.settings.sub_heading != blank %}
            {{ section.settings.sub_heading }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
<!-- -- qure founder end -- -->
{% schema %}
{
  "name": "t:sections.founder.label",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.heading.label"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:common.subheading.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.trusted.dermatologist"
    },
    {
      "type": "inline_richtext",
      "id": "trust_des",
      "label": "t:sections.trusted.text"
    },
    {
      "type": "image_picker",
      "id": "trusted_image_mob",
      "label": "t:common.image.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.founder.label"
    }
  ]
}
{% endschema %}
